<article id="contact" class="wrapper style4">
    <div class="container medium">
        <div class="row">
            <div class="col-12">
                <h3>Find me on ...</h3>
                <ul class="social">
                    <li><a href="https://twitter.com/?lang=zh-Hant" class="icon brands fa-twitter"></a></li>
                    <li><a href="https://www.facebook.com/hsu.chen95763" class="icon brands fa-facebook-f"></a></li>
                    <li><a href="https://www.google.com" class="icon brands fa-google-plus"></a></li>
                    <li><a href="https://github.com/HsuChen88" class="icon brands fa-github"></a></li>
                    <li><a href="https://www.instagram.com/hsuchen1023/" class="icon brands fa-instagram"></a></li>
                    <li><a href="https://www.skype.com/zh-Hant/" class="icon brands fa-skype"></a></li>
                    <li><a href="https://www.youtube.com/" class="icon brands fa-youtube"></a></li>
                </ul>
            </div>
        </div>
        <footer>
            <ul id="copyright">
                <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </footer>
    </div>
</article>
<!-- Scripts -->
<script src="static/asshttps://github.com/HsuChen88etss/js/jquery.min.js"></script>
<script src="static/assetss/js/jquery.scrolly.min.js"></script>
<script src="static/assetss/js/browser.min.js"></script>
<script src="static/assetss/js/breakpoints.min.js"></script>
<script src="static/assetss/js/util.js"></script>
<script src="static/assetss/js/main.js"></script>