<!-- Home -->
<article id="top" class="wrapper style1">
    <div class="container">
        <div class="row">
            <div class="col-4 col-5-large col-12-medium">
                <span class="image fit"><img src="static/images/headshot.jpg" alt="headshot" /></span>
            </div>
            <div class="col-8 col-7-large col-12-medium">
                <header>
                    <h1>Hi. I'm <strong>Hsu Chen Zheng</strong>.</h1>
                </header>
                <p>我是中央大學的學生，目前正在學習Flask~<br>喜歡寫程式和打排球<br>どうぞよろしくお願いします</p>
            </div>
        </div>
    </div>
</article>