{% extends 'base.html' %}



{% block stylesheet %}
<link rel="stylesheet" href="static/assets/css/main.css" />
<link rel="stylesheet" href="static/assets/css/login.css" />
{% endblock stylesheet %}

{% block nav %}
<li><a href="/#top">Home</a></li>
<li><a href="/#work">Work</a></li>
<li><a href="/#portfolio">Portfolio</a></li>
<li><a href="/#contact">Contact Me</a></li>
<li><a href="/resume">Resume</a></li>
<li><a href="/login">Login</a></li>
{% endblock nav %}

{% block content %}
<div id="main">
    <div class="loginblock">
        <form class="login" method="POST">
            <h1>登入</h1><br>
            <h2>手機號碼</h2>
            <input type="text" id="content" name="phone" /><br><br>
            <h2>輸入密碼</h2>
            <input type="password" id="content" name="password" /><br><br><br>
            <button class="add" type="submit" id="loginBtn" name="loginBtn" large>登入</button>
            <p>初來乍到?<a href="/register">加入會員</a></p>
        </form>
    </div>
</div>
<!-- <script>
    const loginBtn = document.getElementById('loginBtn')
    loginBtn.addEventListener('click', function () {
        alert("還不能用啦 哈哈!")
    })
</script> -->
{% endblock content %}