<!-- Portfolio -->
<article id="portfolio" class="wrapper style3">
    <div class="container">
        <header>
            <h2>Here’s some stuff I made recently.</h2>
            <p>一些想分享的小東西，但目前尚未部屬到網站當中，敬請期待</p>
        </header>
        <div class="row">
            <div class="col-4 col-6-medium col-12-small">
                <article class="box style2">
                    <a href="#" class="image featured"><img src="static/images/shoppingweb1.png" alt="" /></a>
                    <h3><a href="#">Shawning Shop 鍵盤購物</a></h3>
                    <p class="imagetext">此購物網站，以php為基礎搭配vue框架，再使用vuetify UI來做版面配置及簡易功能。<br>
                        希望營造流暢且舒適的網站空間。其中有幾項特別的功能，可以使用簡易搜尋物品、商品標籤、…等。</p>
                </article>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <article class="box style2">
                    <a href="#" class="image featured"><img src="static/images/dino3.png" alt="" /></a>
                    <h3><a href="#">Pygame 小恐龍(道具版)</a></h3>
                    <p class="imagetext">使用Pygame製作的小遊戲，仿作google的小恐龍遊戲並加上各式道具，包含彈跳鞋、天使翅膀、急速下降、無敵星星等道具，賦予了小恐龍多種特殊能力，增加遊玩的趣味</p>
                </article>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <article class="box style2">
                    <a href="#" class="image featured"><img src="static/images/pic03.jpg" alt="" /></a>
                    <h3><a href="#">Lorem ipsum</a></h3>
                    <p class="imagetext">Ornare nulla proin odio consequat.</p>
                </article>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <article class="box style2">
                    <a href="#" class="image featured"><img src="static/images/pic04.jpg" alt="" /></a>
                    <h3><a href="#">Tempus dolore</a></h3>
                    <p class="imagetext">Ornare nulla proin odio consequat.</p>
                </article>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <article class="box style2">
                    <a href="#" class="image featured"><img src="static/images/pic05.jpg" alt="" /></a>
                    <h3><a href="#">Feugiat aliquam</a></h3>
                    <p class="imagetext">Ornare nulla proin odio consequat.</p>
                </article>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <article class="box style2">
                    <a href="#" class="image featured"><img src="static/images/pic06.jpg" alt="" /></a>
                    <h3><a href="#">Sed amet ornare</a></h3>
                    <p class="imagetext">Ornare nulla proin odio consequat.</p>
                </article>
            </div>
        </div>
    </div>
</article>
