<!-- Work -->
<article id="work" class="wrapper style2">
    <div class="container">
        <header>
            <h2>Here's what I'm working on.</h2>
            <p>千里之行，始於足下。每天的自己都比前一天的自己更好!</p>
        </header>
        <div class="row aln-center">
            <div class="col-4 col-6-medium col-12-small">
                <section class="box style1">
                    <span class="icon featured fas fa-file-code"></span>
                    <h3>Programming</h3>
                    <p class="imagetext">Currently Using Python, C++, and learning Flask, Machine Learning.<br>
                    Looking forward to working with someone else passionated about programming.</p>
                </section>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <section class="box style1">
                    <span class="icon solid featured fa-volleyball-ball"></span>
                    <h3>Volleyball</h3>
                    <p class="imagetext">I've been playing Volleyball for years.<br>
                        It's not only to exercise, but to have a good time with every volleyball guys.<br>
                    Anyone wants to join us is always gladly welcomed</p>
                </section>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <section class="box style1">
                    <span class="icon featured fa-thumbs-up"></span>
                    <h3>Cooperation</h3>
                    <p class="imagetext">I like to meet people.<br>
                        To be a better working partner, I improve myself in any aspect, so I'm looking forward to working hard for the goal with like-minded people.</p>
                </section>
            </div>
        </div>
    </div>
</article>